@model  IEnumerable<QuanLyHocSinhDuHoc.Models.Entities.HOCSINH>
@using QuanLyHocSinhDuHoc.CommonXuLy
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách học sinh</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a title="Thêm" data-toggle="tooltip" data-placement="bottom" class="dropdown-toggle" href="@Url.Content("/HocSinh/Themmoi")"><i class="fa fa-plus"></i></a></li>
                    </ul>
                    <div class="clearfix" onclick="SelectAll()"></div>
                </div>
                <div class="x_content">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-6"  >
                                <div class="dataTables_length" id="datatable_length">
                                    <label>
                                        Hiện học sinh năm
                                        <select id="LocHSNam" name="datatable_length" ng-model="soKetQua" aria-controls="datatable" class="form-control input-sm">
                                            @*load all nam gia nhap => dữ liệu từ học sinh*@
                                            @{
                                                 foreach (var item in @ViewBag.listNam)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            }
                                           
                                        </select>
                                        kết quả
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                    <div id="datatable_filter" class="dataTables_filter form-group pull-right top_search">
                                        <label>
                                            Tìm kiếm:<input name="KeyTenHS" type="text" id="KeyTenHS" class="form-control input-sm" placeholder="Nhập từ khóa" aria-controls="datatable" />
                                        </label>
                                    </div>
                            </div>
                        </div>
                        <!-- Bảng dữ liệu -->
                        <div class="row">
                            <div class="col-sm-12">
                                <p id="ThongBaoIndex" style="color:red;font-weight:bold;"></p>
                                <table class="table table-striped table-bordered" style="overflow-x:auto;" id="TableListHs">
                                    <thead>
                                        <tr>
                                            <th><div class="word-wrap">STT</div></th>
                                            <th><div class="word-wrap">Năm gia nhập</div></th>
                                            <th><div class="word-wrap">Tên học sinh</div></th>
                                            <th><div class="word-wrap">Số điện thoại</div></th>
                                            <th><div class="word-wrap">Email</div></th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody id="listHS">
                                        @{
                                            if (Model != null)
                                            {
                                                var i=((int)Session["trangdangload"]-1) *10 +1;
                                                
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td><div class="word-wrap">@i</div></td>
                                                        <td><div class="word-wrap">@item.timeStart</div></td>
                                                        <td><div class="word-wrap">@item.TenHS</div></td>
                                                        <td><div class="word-wrap">@item.sdt</div></td>
                                                        <td><div class="word-wrap">@item.email</div></td>
                                                        <td class="actions">                                                         
                                                            <a data-toggle="tooltip" data-placement="bottom" target="_blank" title="Chi tiết" href="@Url.Action("DetailChung", "HocSinh", new {id = @item.id })">
                                                                <i class="fa fa-slideshare"></i>
                                                            </a>
                                                            <a data-toggle="tooltip" data-placement="bottom" target="_blank" title="Xóa" onclick="return confirm('Bạn có thực sự muốn xóa không?')" href="@Url.Action("XoaHocsinh", "HocSinh", new {@id=@item.id })">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                            <a data-toggle="tooltip" data-placement="bottom" target="_blank" title="Giấy tờ nhập học" href="@Url.Action("Giaynhaphoc", "GiayTo", new { @id = @item.id })">
                                                                Giấy nhập học
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    i =@i+1;
                                                }
                                            }
                                        }

                                          
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Bảng dữ liệu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*phan trang*@
<div id="phantrang">
    <div class="pagination-container">
        <ul class="pagination" style="margin-top:-20px;">

            @{
                int? page;
                page = (int)Session["trangdangload"];
                int currentPage = page ?? 1;
                Paging paging = new Paging(currentPage, (int)Session["chiasotrang"]);

                if (paging.hasPrev2)
                {
                    <li><a class="fa fa-angle-double-left" href="/HocSinh/Index?page=1"></a></li>
                }
                if (paging.hasPrev1)
                {
                    <li><a class="fa fa-angle-left" href="#" onclick="Quaylai(@Session["trangdangload"])"></a></li>
                }
                if (paging.prevPage2 > 0)
                {
                    <li><a href="/HocSinh/Index?page=@paging.prevPage2"> @paging.prevPage2</a></li>
                }
                if (paging.prevPage1 > 0)
                {
                    <li><a href="/HocSinh/Index?page=@paging.prevPage1"> @paging.prevPage1</a></li>
                }
                if (paging.currentPage > 0)
                {
                    <li><a href="/HocSinh/Index?page=@paging.currentPage" style="font-weight:bold;color:red"> @paging.currentPage</a></li>
                }
                if (paging.nextPage1 > 0 & paging.nextPage1 <= (int)Session["chiasotrang"])
                {
                    <li><a href="/HocSinh/Index?page=@paging.nextPage1"> @paging.nextPage1</a></li>
                }
                if (paging.nextPage2 > 0 & paging.nextPage2 <= (int)Session["chiasotrang"])
                {
                    <li><a href="/HocSinh/Index?page=@paging.nextPage2"> @paging.nextPage2</a></li>
                }

                if (paging.hasNext1 & paging.nextPage2 != (int)Session["chiasotrang"])
                {
                    <li><a class="fa fa-angle-right" onclick="Tieptheo(@Session["trangdangload"])"></a></li>
                }

                if (paging.hasNext2 & paging.nextPage2 != (int)Session["chiasotrang"])
                {
                    <li><a class="fa fa-angle-double-right" href="#" onclick="CuoiCung()"></a></li>

                }
               
                    }
</ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //Lọc theo số lượng sản phẩm
        $("#LocHSNam").change(function () {
            var Namloc = $("#LocHSNam").val();
            $.ajax({
                type: "GET",
                url: "/HocSinh/SearchNam",
                dataType: "json",
                data: { Namloc: Namloc },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    var row = '';
                    var STT = 1;
                    $.each(data, function (i, item) {
                        $("#TableListHs").css("display", "table");
                        $("#listHS").empty();
                        row += '<tr>';
                        row += '<td><div class="word-wrap">' + STT + '</div></td>';
                        row += '<td><div class="word-wrap">' + item.timeStart + '</div></td>';
                        row += '<td><div class="word-wrap">' + item.TenHS + '</div></td>';
                        row += '<td><div class="word-wrap">' + item.sdt + '</div></td>';
                        row += '<td><div class="word-wrap">' + item.email + '</div></td>';
                        row += '<td class="actions">';
                        row += '<a data-toggle="tooltip" data-placement="bottom" target="_blank" title="Detail" href="@Url.Action("DetailChung", "HocSinh")?id=' + item.id + '">';
                        row += '<i class="fa fa-slideshare"></i>';
                        row += ' </a>';
                        row += '<a data-toggle="tooltip" data-placement="bottom" title="Xóa" onclick=" return ConfirmOnDelete();" href="@Url.Action("XoaHocsinh","HocSinh")?id=' + item.id + '">';
                        row += '<i class="fa fa-trash-o"></i>';
                        row += ' </a>';
                        row += '<a data-toggle="tooltip" data-placement="bottom" title="Giấy tờ nhập học" href="@Url.Action("Giaynhaphoc", "GiayTo")?id=' + item.id + '">';
                        row += 'Giấy tờ nhập học';
                        row += ' </a>';
                        row += '  </td>';
                        row += '  </tr>';
                        STT++;
                    });
                    $("#listHS").html(row);
                    $("#phantrang").css("display", "none");
                },
                error: function (err) {
                    alert("Error: " + err.responseText);
                }
            });
        });
        $("#KeyTenHS").keypress(function (even) {
            if (even.keyCode == 13 || even.which == 3) {
                var key = $("#KeyTenHS").val();
                $.ajax({
                    type: "GET",
                    url: "/HocSinh/SearchKeyName",
                    dataType: "json",
                    data: { keySearch: key },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        if (data.length == 0) {
                            $("#TableListHs").css("display", "none");
                            $("#phantrang").css("display", "none");
                            $("#ThongBaoIndex").text("Không tìm thấy giá trị thỏa mãn");
                        } else {
                            $("#TableListHs").css("display", "table");
                            $("#phantrang").css("display", "block");
                            $("#ThongBaoIndex").text("");
                            var row = '';
                            var STT = 1;
                            $.each(data, function (i, item) {
                                $("#listHS").empty();
                                row += '<tr>';
                                row += '<td><div class="word-wrap">' + STT + '</div></td>';
                                row += '<td><div class="word-wrap">' + item.timeStart + '</div></td>';
                                row += '<td><div class="word-wrap">' + item.TenHS + '</div></td>';
                                row += '<td><div class="word-wrap">' + item.sdt + '</div></td>';
                                row += '<td><div class="word-wrap">' + item.email + '</div></td>';
                                row += '<td class="actions">';
                                row += '<a data-toggle="tooltip" data-placement="bottom" target="_blank" title="Detail" href="@Url.Action("DetailChung", "HocSinh")?id=' + item.id + '">';
                                row += '<i class="fa fa-slideshare"></i>';
                                row += ' </a>';
                                row += '<a data-toggle="tooltip" data-placement="bottom" title="Xóa" onclick=" return ConfirmOnDelete();" href="@Url.Action("XoaHocsinh","HocSinh")?id=' + item.id + '">';
                                row += '<i class="fa fa-trash-o"></i>';
                                row += ' </a>';
                                row += '<a data-toggle="tooltip" data-placement="bottom" title="Giấy tờ nhập học" href="@Url.Action("Giaynhaphoc", "GiayTo")?id=' + item.id + '">';
                                row += 'Giấy tờ nhập học';
                                row += ' </a>';
                                row += '  </td>';
                                row += '  </tr>';
                                STT++;
                            });
                            $("#listHS").html(row);
                        }

                    },
                    error: function (err) {
                        alert("Error: " + err.responseText);
                    }
                });
            }
        });
    });
    function ConfirmOnDelete() {
        debugger;
        var boolXoa = confirm("Bạn có thực sự muốn xóa không?");
        if (boolXoa == true) {
            return true;
        } else {
            return false;
        }
    }
    function SelectAll() {
        window.location.href = '/HocSinh/Index?page=' + 1;
    };
    //phân trang
    function Tieptheo(page) {
        var pagecuoi = page + 1;
        window.location.href = '/HocSinh/Index?page=' + pagecuoi;
    };
    function Quaylai(page) {
        var pagecuoi = 1;
        if (page == 1 || page == 0)
            pagecuoi = 1;
        else
            pagecuoi = page - 1;
        window.location.href = '/HocSinh/Index?page=' + pagecuoi;
    };
    function CuoiCung() {
        $.ajax({
            type: "GET",
            url: "/HocSinh/XulyPhanTrangVeCuoiCung",
            datatype: "json",
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                window.location.href = '/HocSinh/Index?page=' + data;
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    };


</script>