
@{
    ViewBag.Title = "ThemmoiChung";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}
<div class="clearfix"></div>
<div class="container">
    <h2>Thêm mới thông tin học sinh</h2>
    <br>
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item active" id="tabfirst">
            <a class="nav-link active" data-toggle="pill" href="#cmt">Chứng minh thư</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#gks">Giấy khai sinh</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#btn">Bằng tốt nghiệp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#hb">Học bạ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#ngh">Người giám hộ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#gct">Giấy chứng thực</a>
        </li>
        <li class="nav-item" style="margin-left:30%;">
        <a class="nav-link" data-toggle="pill" href="#" onclick="Thoat()">Thoát</a>
        </li>
    </ul>
    @{
        var id_hs = Request.Url.Segments.Last();
    }
    <!-- Tab panes -->
    <div class="tab-content">
        <div id="cmt" class="container tab-pane active">
            <br>
            @Html.Action("Themmoi", "CMT", new {@id_hs =id_hs })
        </div>
        <div id="gks" class="container tab-pane fade">
            <br>
            @Html.Action("Themmoi", "GiayKhaiSinh", new { @id_hs = id_hs })
            </div>
        <div id="btn" class="container tab-pane fade">
            <br>
            @Html.Action("Themmoi", "BangTotNghiep", new { @id_hs = id_hs })
        </div>
        <div id="hb" class="container tab-pane fade">
            <br>
            @Html.Action("Themmoi", "HocBa", new { @id_hs = id_hs })
           </div>
        <div id="ngh" class="container tab-pane fade">
            <br>
            @Html.Action("Themmoi", "NguoiGiamHo", new { @id_hs = id_hs })
        </div>
        <div id="gct" class="container tab-pane fade">
            <br>
            @Html.Action("Themmoi", "GiayChungThuc")   
           </div>
    </div>
</div>

<style>
    .nav li a {
        color: white;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: red;
        font-weight: bold;
    }

    .tab-content {
        background-color: #fdf4f4;
        min-height: 500px;
    }

    .nav-pills {
        background-color: #365899;
        color: white;
    }
</style>
<script type="text/javascript">
    function Thoat()
    {
             window.location.href = "/HocSinh/Index";
    }
</script>
