@model IEnumerable<QuanLyHocSinhDuHoc.Models.Entities.PHANQUYEN>
@using QuanLyHocSinhDuHoc.Models.Entities

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}
<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Danh sách phân quyền</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a title="Thêm" data-toggle="tooltip" data-placement="bottom" class="dropdown-toggle" href="@Url.Content("/PhanQuyen/Themmoi")"><i class="fa fa-plus"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <!-- Bảng dữ liệu -->
                        <div class="row">
                            <div class="col-sm-12">
                                <p id="ThongBaoIndex" style="color:red;font-weight:bold;"></p>
                                <table class="table table-striped table-bordered" style="overflow-x:auto;" id="TableListHs">
                                    <thead>
                                        <tr>
                                            <th><div class="word-wrap">STT</div></th>
                                            <th><div class="word-wrap"> Quyền hạn</div></th>
                                            <th><div class="word-wrap">Link truy cập</div></th>
                                            <th><div class="word-wrap">Mô tả</div></th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody id="listHS">
                                        @{
                                            if (Model != null)
                                            {
                                                dbXulyTThsEntities db = new dbXulyTThsEntities();                                                                                                    
                                                var i = 1;
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td><div class="word-wrap">@i</div></td>
                                                        @{
                                                            QUYEN quyen = db.QUYENs.Find(item.id_quyen);
                                                            QUYENTRUYCAP quyenTC = db.QUYENTRUYCAPs.Find(item.id_truycap);
                                                        }
                                                        <td><div class="word-wrap">@quyen.Ten</div></td>
                                                        <td><div class="word-wrap">@quyenTC.LinkTruy_Cap</div></td>
                                                        <td><div class="word-wrap">@item.MoTa</div></td>
                                                        <td class="actions">
                                                            @*<a data-toggle="tooltip" data-placement="bottom" target="_blank" title="Sửa" href="@Url.Action("SuaPhanQuyen", "PhanQuyen", new { @id_quyen = @item.id_quyen, @id_truycap = @item.id_truycap })">
                                                                <i class="fa fa-edit"></i>
                                                            </a>*@
                                                            <a id="deleteND" href="#" title="Xóa" onclick="Delete(@item.id_quyen,@item.id_truycap);return false;">
                                                                <i class="fa fa-close"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    i = @i + 1;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Bảng dữ liệu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Delete(id_quyen,id_quyenTC)
    {
        var yes =confirm('Bạn có thực sự muốn xóa không ???');
        if(yes ==true)
        {
            $.ajax({
                url: "/PhanQuyen/XoaPhanQuyen",
                type: "POST",
                dataType: "json",
                data: "{id_quyen:" + id_quyen + ",id_quyenTC:"+id_quyenTC+"}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == "Yes")
                        window.location.href = "/PhanQuyen/Index";
                    else
                        alert("Xóa thất bại!");
                },
                error: function (er) {
                    alert(er);
                }

            });
        }
    }

</script>





