@model QuanLyHocSinhDuHoc.Models.Entities.NHANVIEN
@using QuanLyHocSinhDuHoc.Models.Entities

@{
    ViewBag.Title = "Cập nhật người dùng";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Cập nhật người dùng</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post" id="formAddND">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <br /><br />
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tên người dùng <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="HoTenND" name="HoTen" required="required" value="@Model.HoTen" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Địa chỉ
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="DiaChi" name="DiaChi" required="required" value="@Model.DiaChi" type="text" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Số điện thoại
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="SoDT" name="SoDT" type="text" value="@Model.SoDT" placeholder="Số điện thoại" />
                                        <p id="messphone" style="color:red;font-weight:bold;"></p>
                                     </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Tên đăng nhập
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input class="form-control col-md-7 col-xs-12" id="TenDangNhap" disabled name="TenDangNhap" value="@Model.TenDangNhap" required="required" placeholder="Tên đăng nhập" type="text" />
                                    </div>
                                </div>                               
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Nhóm quyền
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select id="id_Quyen" name="id_Quyen" class="form-control col-md-7 col-xs-12">
                                            @{
                                                if (@Model.id_Quyen != null)
                                                {
                                                    dbXulyTThsEntities db = new dbXulyTThsEntities();
                                                    QUYEN quyen = db.QUYENs.Find((int)@Model.id_Quyen);
                                                    <option value="@Model.id_Quyen">@quyen.Ten</option>
                                                    if (@ViewBag.listQuyen != null)
                                                    {
                                                        foreach (var item in @ViewBag.listQuyen)
                                                        {
                                                            if (item.Id != @Model.id_Quyen)
                                                            {
                                                                <option value=@item.Id>@item.Ten</option>
                                                            }

                                                        }
                                                    }


                                                }
                                                else
                                                {
                                                    <option value="@Model.id_Quyen">Chọn quyền</option>
                                                    if (@ViewBag.listQuyen != null)
                                                    {
                                                        foreach (var item in @ViewBag.listQuyen)
                                                        {                                                          
                                                                <option value=@item.Id>@item.Ten</option>
                                                        }
                                                    }
                                                }

                                                }                                          

                                        </select>
                                    </div>
                                </div>                               
                            </div>
                        </div>

                        <div class="row">
                            <div class="ln_solid"></div>
                            @*chức năng*@
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button class="btn btn-success" type="submit" style="margin-left:30%;">Lưu thông tin</button>
                                    <a href="/NguoiDung/Index" class="btn btn-primary">Huỷ</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#SoDT").blur(function () {
        var sodt = $("#SoDT").val();
        if (sodt != "") {
            if (validatePhone("SoDT") == false)
                $("#messphone").text("Nhập lại số điện thoại");
            else {
                $.ajax({
                    url: "/NguoiDung/CheckSoDT",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({ SoDT: sodt }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data == "Yes") {
                            $("#messphone").text("Đã tồn tại số điện thoại này!!!");
                            $("#SoDT").val("");
                        } else {
                            $("#messphone").text("");
                        }
                    },
                    error: function (er) {
                        alert(er);
                    }
                });
            }
            
        }
    });
    $("#SoDT").focus(function () {
        $("#messphone").text("");
    });

    $("#Sublmit").click(function(){
        if (validatePhone("SoDT") == false)
        {
            $("#messphone").text("Nhập lại số điện thoại");
            return false;
        }
        else $("#messphone").text("");

    });
    function validatePhone(txtPhone) {
        var a = document.getElementById(txtPhone).value;
        var filter = /^[0-9-+]+$/;
        if (filter.test(a)) {
            return true;
        }
        else {
            return false;
        }
    }
</script>