@model QuanLyHocSinhDuHoc.CommonXuLy.LoiModel

@{
    ViewBag.Title = "Chỉnh sửa giới tính";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa nội dung sai về <strong> @ViewBag.typeLoi</strong> từ học sinh <strong>@ViewBag.HocSinhLoi</strong></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br /><br />
                                @{
                                    <input id="IdLoiGT" type="hidden" name="IdLoiGT" value="@ViewBag.idLoi" />

                                    if (Model.Cmt != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Chứng minh thư.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="GioiTinhCMT" name="GioiTinhCMT" value="@Model.Cmt.GioiTinh" type="text" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Giaykhaisinh != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Giấy khai sinh.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="GioiTinhGKS" name="GioiTinhGKS" value="@Model.Giaykhaisinh.GioiTinh" type="text" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Bangtotnghiep != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Bằng tốt nghiệp.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="GioiTinhBTN" name="GioiTinhBTN" value="@Model.Bangtotnghiep.GioiTinh" type="text" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Hocba != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên học bạ.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="GioiTinhHB" name="GioiTinhHB" value="@Model.Hocba.GioiTinh" type="text" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" class="btn btn-success" onclick="CapNhatGioiTinh()">Cập nhật</button>
                                <a href="@Url.Action("Index", "XulyHocSinh")" class="btn btn-success">Hủy bỏ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="TuLieuDT">
        <div class="col-md-12 col-sm-12 col-xs-12">

            @{
                if (Model.Cmt != null)
                {
                    if (Model.Cmt.fileCMT != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Cmt.fileCMT })" target="iframe_CMT2" id="clickHienCMT2">Hiện thị file CMT</a>
                     }
                }
                if (Model.Giaykhaisinh != null)
                {
                    if (Model.Giaykhaisinh.fileGKS != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Giaykhaisinh.fileGKS })" target="iframe_GKS2" id="clickHienGKS2">Hiện thị file GKS</a>
                   }
                }
                if (Model.Bangtotnghiep != null)
                {
                    if (Model.Bangtotnghiep.fileBTN != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Bangtotnghiep.fileBTN })" target="iframe_BTN2" id="clickHienBTN2">Hiện thị file BTN</a>
                    }
                }
                if (Model.Hocba != null)
                {
                    if (Model.Hocba.fileHB != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Hocba.fileHB })" target="iframe_HB2" id="clickHienHB2">Hiện thị file HB</a>
                   }
                }
                <br /><br />
                 <iframe allowfullscreen height="450px" width="45%" name="iframe_CMT2" hidden id="hienCMT2"></iframe>
                 <iframe allowfullscreen height="450px" width="45%" name="iframe_GKS2" hidden id="hienGKS2"></iframe>
                 <iframe allowfullscreen height="450px" width="45%" name="iframe_BTN2" hidden id="hienBTN2"></iframe>
                 <iframe allowfullscreen height="450px" width="45%" name="iframe_HB2" hidden id="hienHB2"></iframe>
}
        </div>
    </div>

</div>
<script type="text/javascript">
    $("#clickHienHB2").click(function () {
        $("#hienHB2").show();
    });
    $("#clickHienBTN2").click(function () {
        $("#hienBTN2").show();
    });
    $("#clickHienGKS2").click(function () {
        $("#hienGKS2").show();
    });
    $("#clickHienCMT2").click(function () {
        $("#hienCMT2").show();
    });
    function CapNhatGioiTinh() {
        debugger;
        var listName = new Array();
        listName[0] = $("#IdLoiGT").val();
        listName[1] = $("#GioiTinhCMT").val();
        listName[2] = $("#GioiTinhGKS").val();
        listName[3] = $("#GioiTinhBTN").val();
        listName[4] = $("#GioiTinhHB").val();

        var postData = { listkey: listName };
        $.ajax({
            type: 'POST',
            traditional: true,
            url: '/XulyHocSinh/ChinhSuaLoiGioiTinh',
            dataType: "json",
            data: '{ "listkey":' + JSON.stringify(listName) + '}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("Đã chỉnh sửa thành công");
                window.location = "/XulyHocSinh/Index";
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>





