
@model QuanLyHocSinhDuHoc.CommonXuLy.LoiModel
@{
    ViewBag.Title = "Chỉnh sửa quê quán";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa nội dung sai về <strong> @ViewBag.typeLoi</strong> từ học sinh <strong>@ViewBag.HocSinhLoi</strong></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br /><br />
                                @{
                                    <input id="IdLoiQQ" type="hidden" name="IdLoiQQ" value="@ViewBag.idLoi" />
                                    if (Model.Cmt != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Chứng minh thư.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="QueQuanCMT" name="QueQuanCMT" value="@Model.Cmt.QueQuan" type="text" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Giaykhaisinh != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Giấy khai sinh.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="QueQuanGKS" name="QueQuanGKS" value="@Model.Giaykhaisinh.QueQuan" type="text" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" class="btn btn-success" onclick="CapNhatQueQuan()">Cập nhật</button>
                                <a href="@Url.Action("Index", "XulyHocSinh")" class="btn btn-success">Hủy bỏ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="TuLieuDT">
        <div class="col-md-12 col-sm-12 col-xs-12">

            @{
                if (Model.Cmt != null)
                {
                    if (Model.Cmt.fileCMT != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Cmt.fileCMT })" target="iframe_CMT6" id="clickHienCMT6">Hiện thị file CMT</a>
                    }
                }
                if (Model.Giaykhaisinh != null)
                {
                    if (Model.Giaykhaisinh.fileGKS != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Giaykhaisinh.fileGKS })" target="iframe_GKS6" id="clickHienGKS6">Hiện thị file GKS</a>
                    }
                }
              
               
                <br /><br />
                <iframe allowfullscreen height="450px" width="45%" name="iframe_CMT6" hidden id="hienCMT6"></iframe>
                <iframe allowfullscreen height="450px" width="45%" name="iframe_GKS6" hidden id="hienGKS6"></iframe>

}
        </div>
    </div>


</div>

<script type="text/javascript">
    $("#clickHienGKS6").click(function () {
        $("#hienGKS6").show();
    });
    $("#clickHienCMT6").click(function () {
        $("#hienCMT6").show();
    });
    function CapNhatQueQuan() {
        debugger;
        var listName = new Array();
        listName[0] = $("#IdLoiQQ").val();
        listName[1] = $("#QueQuanCMT").val();
        listName[2] = $("#QueQuanGKS").val();
        var postData = { listkey: listName };
        $.ajax({
            type: 'POST',
            traditional: true,
            url: '/XulyHocSinh/ChinhSuaLoiQueQuan',
            dataType: "json",
            data: '{ "listkey":' + JSON.stringify(listName) + '}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("Đã chỉnh sửa thành công");
                window.location = "/XulyHocSinh/Index";
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>





