@model QuanLyHocSinhDuHoc.CommonXuLy.LoiModel


@{
    ViewBag.Title = "Chỉnh sửa ngày sinh";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa nội dung sai về <strong> @ViewBag.typeLoi</strong> từ học sinh <strong>@ViewBag.HocSinhLoi</strong></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br /><br />
                                @{
                                    <input id="IdLoiNS" type="hidden" name="IdLoiNS" value="@ViewBag.idLoi" />
                                    if (Model.Cmt != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Chứng minh thư.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="NgaySinhCMT" name="NgaySinhCMT" value=@Model.Cmt.NgaySinh.ToString("yyyy-MM-dd") type="date" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Giaykhaisinh != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Giấy khai sinh.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="NgaySinhGKS" name="NgaySinhGKS" value=@Model.Giaykhaisinh.NgaySinh.ToString("yyyy-MM-dd") type="date" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Bangtotnghiep != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Bằng tốt nghiệp.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="NgaySinhBTN" name="NgaySinhBTN" value=@Model.Bangtotnghiep.NgaySinh.ToString("yyyy-MM-dd") type="date" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Hocba != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên học bạ.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="NgaySinhHB" name="NgaySinhHB" value=@Model.Hocba.NgaySinh.ToString("yyyy-MM-dd") type="date" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" class="btn btn-success" onclick="CapNhatNgaySinh()">Cập nhật</button>
                                <a href="@Url.Action("Index", "XulyHocSinh")" class="btn btn-success">Hủy bỏ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="TuLieuDT">
        <div class="col-md-12 col-sm-12 col-xs-12">

            @{
                if (Model.Cmt != null)
                {
                    if (Model.Cmt.fileCMT != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Cmt.fileCMT })" target="iframe_CMT4" id="clickHienCMT4">Hiện thị file CMT</a>
                    }
                }
                if (Model.Giaykhaisinh != null)
                {
                    if (Model.Giaykhaisinh.fileGKS != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Giaykhaisinh.fileGKS })" target="iframe_GKS4" id="clickHienGKS4">Hiện thị file GKS</a>
                    }
                }
                if (Model.Bangtotnghiep != null)
                {
                    if (Model.Bangtotnghiep.fileBTN != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Bangtotnghiep.fileBTN })" target="iframe_BTN4" id="clickHienBTN4">Hiện thị file BTN</a>
                    }
                }
                if (Model.Hocba != null)
                {
                    if (Model.Hocba.fileHB != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Hocba.fileHB })" target="iframe_HB4" id="clickHienHB4">Hiện thị file HB</a>
                    }
                }
                <br /><br />
                <iframe allowfullscreen height="450px" width="45%" name="iframe_CMT4" hidden id="hienCMT4"></iframe>
                <iframe allowfullscreen height="450px" width="45%" name="iframe_GKS4" hidden id="hienGKS4"></iframe>
                <iframe allowfullscreen height="450px" width="45%" name="iframe_BTN4" hidden id="hienBTN4"></iframe>
                <iframe allowfullscreen height="450px" width="45%" name="iframe_HB4" hidden id="hienHB4"></iframe>

            }
        </div>
    </div>


</div>

<script type="text/javascript">
    $("#clickHienHB4").click(function () {
        $("#hienHB4").show();
    });
    $("#clickHienBTN4").click(function () {
        $("#hienBTN4").show();
    });
    $("#clickHienGKS4").click(function () {
        $("#hienGKS4").show();
    });
    $("#clickHienCMT4").click(function () {
        $("#hienCMT4").show();
    });


    function CapNhatNgaySinh() {
        debugger;
        var listName = new Array();
        listName[0] = $("#IdLoiNS").val();
        listName[1] = $("#NgaySinhCMT").val();
        listName[2] = $("#NgaySinhGKS").val();
        listName[3] = $("#NgaySinhBTN").val();
        listName[4] = $("#NgaySinhHB").val();
        var postData = { listkey: listName };
        $.ajax({
            type: 'POST',
            traditional: true,
            url: '/XulyHocSinh/ChinhSuaLoiNgaySinh',
            dataType: "json",
            data: '{ "listkey":' + JSON.stringify(listName) + '}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("Đã chỉnh sửa thành công");
                window.location = "/XulyHocSinh/Index";
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>





