@model QuanLyHocSinhDuHoc.CommonXuLy.LoiModel

@{
    ViewBag.Title = "Chỉnh sửa nơi sinh";
    Layout = "~/Views/Share/_LayoutTrangChu.cshtml";
}

<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Chỉnh sửa nội dung sai về <strong> @ViewBag.typeLoi</strong> từ học sinh <strong>@ViewBag.HocSinhLoi</strong></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <br /><br />
                                @{
                                    <input id="IdLoiNoiS" type="hidden" name="IdLoiNoiS" value="@ViewBag.idLoi" />
                                    if (Model.Giaykhaisinh != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Giấy khai sinh.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="NoiSinhGKS" name="NoiSinhGKS" value="@Model.Giaykhaisinh.NoiSinh" type="text" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Bangtotnghiep != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên Bằng tốt nghiệp.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="NoiSinhBTN" name="NoiSinhBTN" value="@Model.Bangtotnghiep.NoiSinh" type="text" />
                                            </div>
                                        </div>
                                    }
                                    if (Model.Hocba != null)
                                    {
                                        <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                @ViewBag.typeLoi trên học bạ.  <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="NoiSinhHB" name="NoiSinhHB" value="@Model.Hocba.NoiSinh" type="text" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" class="btn btn-success" onclick="CapNhatNoiSinh()">Cập nhật</button>
                                <a href="@Url.Action("Index", "XulyHocSinh")" class="btn btn-success">Hủy bỏ</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="TuLieuDT">
        <div class="col-md-12 col-sm-12 col-xs-12">

            @{                
                if (Model.Giaykhaisinh != null)
                {
                    if (Model.Giaykhaisinh.fileGKS != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Giaykhaisinh.fileGKS })" target="iframe_GKS5" id="clickHienGKS5">Hiện thị file GKS</a>
                    }
                }
                if (Model.Bangtotnghiep != null)
                {
                    if (Model.Bangtotnghiep.fileBTN != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Bangtotnghiep.fileBTN })" target="iframe_BTN5" id="clickHienBTN5">Hiện thị file BTN</a>
                    }
                }
                if (Model.Hocba != null)
                {
                    if (Model.Hocba.fileHB != null)
                    {
                        <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url = @Model.Hocba.fileHB })" target="iframe_HB5" id="clickHienHB5">Hiện thị file HB</a>
                    }
                }
                <br /><br />
                <iframe allowfullscreen height="450px" width="30%" name="iframe_GKS5" hidden id="hienGKS5"></iframe>
                <iframe allowfullscreen height="450px" width="30%" name="iframe_BTN5" hidden id="hienBTN5"></iframe>
                <iframe allowfullscreen height="450px" width="30%" name="iframe_HB5" hidden id="hienHB5"></iframe>

            }
        </div>
    </div>


</div>



<script type="text/javascript">
    $("#clickHienHB5").click(function () {
        $("#hienHB5").show();
    });
    $("#clickHienBTN5").click(function () {
        $("#hienBTN5").show();
    });
    $("#clickHienGKS5").click(function () {
        $("#hienGKS5").show();
    });

    function CapNhatNoiSinh()
    {
        var listName = new Array();
        listName[0] = $("#IdLoiNoiS").val();
        listName[1] = $("#NoiSinhGKS").val();
        listName[2] = $("#NoiSinhBTN").val();
        listName[3] = $("#NoiSinhHB").val();

        var postData = { listkey: listName };
        $.ajax({
            type: 'POST',
            traditional: true,
            url: '/XulyHocSinh/ChinhSuaLoiNoiSinh',
            dataType: "json",
            data: '{ "listkey":' + JSON.stringify(listName) + '}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert("Đã chỉnh sửa thành công");
                window.location = "/XulyHocSinh/Index";
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>
