@{
        QuanLyHocSinhDuHoc.CommonXuLy.ModelQuyenNguoiDung modelND = Session["QuyenNguoiDung"] as QuanLyHocSinhDuHoc.CommonXuLy.ModelQuyenNguoiDung; 
}

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><i class="fa fa-cloud"></i><span style="margin-left: 5px;"></span></a>
        </div>

        <div class="clearfix"></div>
        <div class="profile">
            <div class="profile_pic">
                <img src="~/Content/images/logo2.png"  style="width:56px;height:42px;" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Chào mừng,</span>
                @{
                    if (Session["NguoiDung"] != null)
                    {
                        <h2>@Session["NguoiDung"]</h2>
                    }
                }
               
            </div>
        </div>
        <br />
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>&nbsp;</h3>
                <ul class="nav side-menu">
                        <li>
                            <a>
                                <i class="fa fa-home"></i>Quản lý học sinh<span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                    <li>
                                        <a href="@Url.Content("/HocSinh/Index")">Học sinh</a>
                                    </li> 
                            </ul>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-edit"></i>Xử lý thông tin học sinh<span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="nav child_menu">
                                <li>
                                    <a href="@Url.Content("/XulyHocSinh/Index")">Thông tin sai</a>
                                </li>
                            </ul>
                        </li>
                      @{
                          if(modelND !=null)
                          {
                              if (modelND.Quyen.Ten =="Admin")
                              {
                                <li>
                                    <a>
                                        <i class="fa fa-edit"></i>Hệ thống<span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a href="@Url.Content("/NguoiDung/Index")">Người dùng</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Content("/Quyen/Index")">Quyền hạn</a>
                                        </li>
                                        @*<li>
                                            <a href="@Url.Content("/QuyenTruyCap/Index")">Quyền truy cập</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Content("/PhanQuyen/Index")">Phân quyền</a>
                                        </li>*@
                                    </ul>
                                </li>

                              }
                          }
                    }           
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/Content/images/logoNew.jpg" />                    
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right" >
                        @{
                            if (Session["QuyenNguoiDung"] != null && Session["NguoiDungHT"] !=null)
                            {        
                                <li>
                                    <a href="@Url.Action("DetailTaiKhoan", "CaNhanNguoiDung", new { id =modelND.Nhanvien.id})" style="color:#5A738E;">Thông tin tài khoản</a>
                                </li>
                            }
                        }
                        <li>
                            <a id="lnkDangXuat" href="@Url.Content("/DangNhap/DangXuat/")" style="color:#5A738E;">
                                <i class="fa fa-sign-out pull-right"></i>Thoát
                            </a>
                        </li>
                    </ul>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="javascript:;" title="Thông báo lỗi" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge bg-green">1</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        @{
                            if (Session["ThongBaoDo"] != null)
                            {
                                <li>
                                    <a href="@Url.Action("IndexTbDo","XulyHocSinh")" target="_blank" style="color:#5A738E;">
                                        <span class="image">
                                            <i class=" fa fa-snapchat" style="color:#ff0000;"></i>
                                        </span>
                                        <span>
                                            <span>Thông báo Lỗi</span>
                                            @{
                                                     var listDo = Session["ThongBaoDo"] as List<QuanLyHocSinhDuHoc.Models.Entities.TABLE_LOI>;
                                                    <span class="time">@listDo.Count</span>
                                            }

                                        </span>
                                        <span class="message">
                                            Rất quan trọng
                                        </span>
                                    </a>
                                </li>
                            }
                            if (Session["ThongBaoVang"] != null)
                            {
                                <li>
                                    <a href="@Url.Action("IndexTbVang","XulyHocSinh")" target="_blank" style="color:#5A738E;">
                                        <span class="image">
                                            <i class=" fa fa-snapchat" style="color:#ffd800;"></i>
                                        </span>
                                        @{
                                                var listVang = Session["ThongBaoVang"] as List<QuanLyHocSinhDuHoc.Models.Entities.TABLE_LOI>;
                                        }
                                        <span>
                                            <span>Thông báo Lỗi</span>
                                            <span class="time">@listVang.Count</span>
                                        </span>
                                        <span class="message">
                                            Quan trọng
                                        </span>
                                    </a>

                                </li>
                            }
                            if (Session["ThongBaoXanh"] != null)
                            {
                                <li>
                                    <a href="@Url.Action("IndexTbXanh","XulyHocSinh")" target="_blank" style="color:#5A738E;">
                                        <span class="image">
                                            <i class=" fa fa-snapchat" style="color:#00ff21;"></i>
                                        </span>
                                        @{
                                             var listXanh = Session["ThongBaoXanh"] as List<QuanLyHocSinhDuHoc.Models.Entities.TABLE_LOI>;
                                        }
                                        <span>
                                            <span>Thông báo Lỗi</span>
                                            <span class="time">@listXanh.Count</span>
                                        </span>
                                        <span class="message">
                                            Khá quan trọng
                                        </span>
                                    </a>
                                </li>
                            }
                         }

                        @*<li>
                            <div class="text-center">
                                <a>
                                    <strong>Xem tất cả cảnh báo</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>*@
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->