@model QuanLyHocSinhDuHoc.Models.Entities.BANGTOTNGHIEP
@{
    //var id_hs = Request["id"];
   // var id_hs = Request.Url.Segments.Last();
    var id_hs = (int)Session["id_hsDetail"];
    if (ViewBag.ThongbaoBTN == "NO")
    {
        <h2 style='color:#0070e2;'><strong>Chưa cập nhật bằng tốt nghiệp</strong></h2>
        <a href="@Url.Action("ThemmoiR","BangTotNghiep", new { @id_hs =id_hs})" class="btn btn-primary">Thêm mới bằng tốt nghiệp</a>
    }
    if (ViewBag.ThongbaoBTN == "OK")
    {
        <div class="" id="ClassBTN">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Thông tin chi tiết bằng tốt nghiệp</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form class="form-horizontal form-label-left" method="post">
                                <div class="row">
                                    <div class="col-md-7 col-sm-7 col-xs-8">
                                            <div class="item form-group">
                                                <input class="form-control col-md-7 col-xs-12" id="idBTN" name="id" value="@Model.id" type="hidden" />
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Họ tên <span class="required">*</span>
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="HoTenBTN" name="HoTen" required="required" disabled value="@Model.HoTen" type="text" />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Ngày sinh <span class="required"></span>
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control has-feedback-left active" name="NgaySinh" id="dtpNgaySinhBTN" value="@Model.NgaySinh.ToString("yyyy-MM-dd")" disabled /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Nơi sinh
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="NoiSinhBTN" name="NoiSinh" type="text" disabled value="@Model.NoiSinh" />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Giới tính
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    @{
                                                if (Model.GioiTinh == "Nam")
                                                {
                                                        <label class="radio-inline">
                                                            <input type="radio" name="GioiTinh" checked="checked" value="Nam" /> Nam
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="GioiTinh" value="Nữ" /> Nữ
                                                        </label>
                                                }
                                                else
                                                {
                                                        <label class="radio-inline">
                                                            <input type="radio" name="GioiTinh" value="Nam" /> Nam
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" name="GioiTinh" checked="checked" value="Nữ" /> Nữ
                                                        </label>
                                                 }
                                                    }
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Dân tộc
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="DanTocBTN" name="DanToc" disabled value="@Model.DanToc" type="text" />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Khóa thi <span class="required"></span>
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control has-feedback-left active" name="KhoaThi" id="dtpNgaySinhKT" value="@Model.KhoaThi.Value.ToString("yyyy-MM-dd")" disabled /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Hội đồng thi
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="HoiDongThiBTN" name="HoiDongThi" disabled value="@Model.HoiDongThi" type="text" />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Ngày lập <span class="required"></span>
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control has-feedback-left active" name="NgayLap" id="dtpBTNNL" value="@Model.NgayLap.ToString("yyyy-MM-dd")" disabled /><span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Số hiệu
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="SoHieuBTN" name="SoHieu" disabled value="@Model.SoHieu" type="text" />
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-12">
                                                    Số vào số cấp bằng
                                                </label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                    <input class="form-control col-md-7 col-xs-12" id="SovaoSoCapBangBTN" name="SovaoSoCapBang" disabled value="@Model.SovaoSoCapBang" type="text" />
                                                </div>
                                            </div>
                                        </div>

                                    <div class="col-md-5 col-sm-5 col-xs-8">
                                        @if (@Model.fileBTN != null)
                                        {
                                            <a class="btn btn-success" href="@Url.Action("TestPdf", "XuLyHocSinh", new { @url  =@Model.fileBTN})" target="iframe_btn" id="clickHienBTN">Hiện thị file</a>
                                            <iframe allowfullscreen frameborder="1" height="400px" width="100%" name="iframe_btn" hidden id="hienBTN"></iframe>
                                        }
                                        else
                                        {
                                            <div class=" item form-group">
                                                <button id="btn_fileBTNCN" type="button" onclick="$('#filebtnCapNhat').click()" class="btn btn-sm btn-primary" style="width:230px;">Cập nhật file</button>
                                                <input type="file" id="filebtnCapNhat" name="filebtnCapNhat" style="display: none;" class="form-control">
                                            </div>
                                        }
                                    </div>  
                                 </div>
                                <div class="row">
                                    <div class="ln_solid"></div>
                                    @*chức năng*@
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <a class="btn btn-success" href="@Url.Action("SuaBTN", "BangTotNghiep", new { @id=@Model.id})" style="margin-left:-16%;">Cập nhật</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    }
}

<script type="text/javascript">
    $("#clickHienBTN").click(function () {
        $("#hienBTN").show();
    });
    $("#filebtnCapNhat").change(function () {
    var data = new FormData();
    var files = $("#filebtnCapNhat").get(0).files;
    if (files.length > 0) {
        data.append("HelpSectionFile",files[0]);
    }
    $.ajax({
        url: "/BangTotNghiep/UpLoadFileBTN",
        type: "POST",
        processData: false,
        contentType: false,
        data: data,
        success: function (data) {
            window.location.href = "?id=" + data;
        },
        error: function (er) {
            alert(er);
        }

    });
    });

</script>